# temp files
*~
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# 'build' directories
/*build*
/out

# OS specific
.DS_Store
.DS_Store?

# dot files
.idea
/.vs
.vscode

# Qt Creator user-specific files
*.user
*.user.*
*.user.*.tmp
CMakeLists.txt.user
CMakeLists.txt.user.*

# misc
CMakeSettings.json
.clang-format
